body.dark {
    background-color: #202c37;
    color: white;
}

body.dark-mode {
    background-color: #121212;
    color: #f1f1f1;
}
button, .card {
    background-color: inherit;
    color: inherit;
}